<h1 mat-dialog-title>+ New Task</h1>
<form (ngSubmit)="onNoClick()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <input type="text" matInput placeholder="Task Name" name="nameTask" [(ngModel)]="data.nameTask">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onNoClick()">+ New Task</button>
  </div>
</form>