@import "src/theme/theme-variables";

:host {
  display: flex;
  flex: 1;
  background-color: #f5f5f5;
}

.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
}

.login-container,
.mat-form-field {
  width: 100%;
}

.login-fields > :not(:last-child) {
  margin-bottom: 8px;
}

.login-error {
  color: mat-color($app-warn);
}
.login-header{
  margin: 0 !important;
}
.login-box{
  border-radius: 10px;
  box-shadow: 0px 3px 20px 2px rgba(0, 0, 0, 0.1);

}