<div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem" class="mat-typography">
  <div class="login-container" fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="90%" fxFlex.sm="40%" fxFlex.md="30%" fxFlex.gt-md="25%" class="login-box">
      <h1 class="login-header">Login</h1>
      <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
        <div class="login-error" [hidden]="!error || isLoading" translate>
          Username or password incorrect.
        </div>
        <br/>
        <div class="login-fields" fxLayout="column">
          <mat-form-field [hideRequiredMarker]="true" appearance="outline">
            <input type="text" matInput formControlName="id" autocomplete="id"
                   [placeholder]="'Id' | translate" required/>
            <mat-error *ngIf="loginForm.controls.id.invalid && loginForm.controls.id.touched">
              <span translate>Id is required</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field [hideRequiredMarker]="true" appearance="outline">
            <input type="text" matInput formControlName="name" autocomplete="name"
                   [placeholder]="'Name' | translate" required/>
            <mat-error *ngIf="loginForm.controls.name.invalid && loginForm.controls.name.touched">
              <span translate>Name is required</span>
            </mat-error>
          </mat-form-field>
          <br/>
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || isLoading">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span translate>Login</span>
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>

