/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal
* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  padding: 1em 10%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-drawer-container {
  background-color: #f3f3f3;
}
.customModal{
  background: rgba(179, 177, 177, 0.8) 
}
.mat-dialog-container{
  border-radius: 10px !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
  background: #f3f3f3 !important;
}
//mobile
@media screen and (max-width: 600px){
  .container{
    padding: 10px 0;
  }
}
