@import "src/theme/theme-variables";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 400;
}

.brand {
  color: mat-color($app-primary, "default-contrast");
  text-decoration: none;
  padding-right: 1rem;
}

.menu-button {
  margin-right: 1rem;
}
.avatar{
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 0 10px 0 0;
}
.logout-label{
  cursor: pointer;
}