<mat-toolbar class="mat-elevation-z6 navbar" color="light">
  <div class="container">
    <img [src]="'assets'+image" class="avatar">
    <div>{{username}}</div>
    <span fxFlex></span>
    <div (click)="logout()" class="logout-label">Logout</div>
  </div>
</mat-toolbar>
