<div class="container" *ngIf="dataTask.totalTasks==0">
  <div fxLayout="row" fxLayoutAlign="center center" class="no-task">
    <mat-card fxFlex="none" class="add-task card">
      <mat-card-content>
        <mat-card-title>You have no task.</mat-card-title>
        <mat-card-subtitle>
          <button mat-raised-button color="primary" (click)="openDialog()">+ New Task</button>
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="container" *ngIf="dataTask.totalTasks > 0">
  <div fxLayout="row" fxLayoutAlign="space-between start" class="header-content">
    <mat-card fxFlex="none" class="completed-task card">
      <mat-card-content>
        <mat-card-title>Task Completed</mat-card-title>
        <div *ngIf="isLoading">
          <ngx-skeleton-loader count="1" appearance="line"
          [theme]="{width : '40px', height : '60px', margin : '0px'}"></ngx-skeleton-loader>
          <span class="small">/</span>
          <ngx-skeleton-loader count="1" appearance="line"
          [theme]="{width : '20px', height : '20px', margin : '0px'}"></ngx-skeleton-loader>
        </div>
        <mat-card-subtitle *ngIf="!isLoading">
          <span class="big">{{dataTask.tasksCompleted}}</span>
          <span class="small">/{{dataTask.totalTasks}}</span>
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="none" class="card">
      <mat-card-content>
        <mat-card-title>Latest Created Task</mat-card-title>
        <mat-card-subtitle>
          <div class="list" *ngIf="isLoading"><ngx-skeleton-loader count="3" appearance="line"> </ngx-skeleton-loader></div>
          <ul class="list" *ngIf="!isLoading">
            <li *ngFor="let current of dataTask.latestTasks" [ngClass]="{'lineThrough' : current.completed}"><span>&#8226;</span> {{current.name}}</li>
          </ul>
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="none" class="card">
      <div *ngIf="isLoading">
        <ngx-skeleton-loader count="1" appearance="circle" 
        [theme]="{
          'width' : '100px', 
          'height' : '100px', 
          'margin' : '0 auto', 
          'position' : 'absolute', 
          'left' : '0px', 
          'right' : '0px'}">
        </ngx-skeleton-loader>
      </div>
      <mat-card-content>
        <div [hidden]="isLoading">
          <canvas id="myChart" width="100" height="100" class="chart"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="option" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="none">
      <mat-label class="task-label">Tasks</mat-label>
    </div>
    <div fxFlex="none" fxLayout="row" fxLayoutAlign="space-around center" class="side-option">
      <div class="search-box" fxFlex="">
        <mat-form-field appearance="outline">
          <mat-label>Search by task name</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input type="text" matInput [(ngModel)]="search" (change)="inputSearch()">
        </mat-form-field>
      </div>
      <div class="add-task">
        <button mat-raised-button color="primary" (click)="openDialog()">+ New Task</button>
      </div>
    </div>
  </div>
  <div class="list-task">
    <div *ngIf="isLoading">
      <div class="loading-table" *ngFor="let data of listLoading"><ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader></div>
    </div>
    <table *ngIf="!isLoading">
      <tr *ngFor="let data of listTask; let i = index">
        <td>
          <mat-checkbox [checked]="data.completed" (change)="checkedTask(i,$event)"></mat-checkbox>
        </td>
        <td>
          <mat-label [ngClass]="{'lineThrough' : data.completed}">{{data.name}}</mat-label>
        </td>
        <td>
          <mat-icon class="pointer" (click)="openDialogEdit(data)">edit</mat-icon>
          <mat-icon class="pointer" (click)="deleteTask(data)">delete</mat-icon>
        </td>
      </tr>
    </table>
  </div>
</div>