table{
  width: 100%;
  td:nth-child(1){width: 40px;}
  td:nth-child(3){width: 70px;}
  td,tr{
    padding: 20px 5px;
    font-size: 20px;
    border-bottom: 1px solid #e3e3e3;
  }
  mat-label{
    color: rgb(51, 120, 232);
  }
  mat-icon{
    color: #666;
  }
}
.loading-table{
  padding: 20px 5px;
  border-bottom: 1px solid #e3e3e3;
}
.card{
  width: 30%;
  height: 140px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 3px 20px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  .list{
      list-style-type:none;
      padding-left: 0;
    li{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 5px 0;
      span{
        margin-right: 8px;
      }
    }
  }
  
  mat-card-title{
    color: #666;
    font-weight: 400;
    font-size: 20px;
  }
}
.completed-task{
  .big{
    font-size: 60px;
    color: rgb(51, 120, 232);
  }
  .small{
    font-size: 20px;
  }
}
.list-task{
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 3px 20px 2px rgba(0, 0, 0, 0.1);
}
.task-label{
  font-weight: 500;
  font-size: 20px;
  color: #555;
}
.search-box{
  margin-right: 12px;
}
.chart{
  margin : 0 auto;
}
.pointer{
  cursor: pointer;
}
.lineThrough{
  text-decoration: line-through;
}
.add-task{
  button{
  height: 45px;
  }
}
.no-task{
  height: 100%;
  .add-task{
    width: 300px;
    text-align: center;
    padding:20px;
    mat-card-title{
      margin-bottom: 20px;
    }
  }
}
//mobile
@media screen and (max-width: 600px){
  .container{
    padding: 0;
  }
  .header-content{
    flex-direction: column !important;
  }
  .card{
    width: 100%;
    margin: 10px 0;
  }
  .option{
    flex-direction: column !important;
    margin-bottom: 20px;
  }
  .side-option{
    flex-direction: column !important;
    width: 100%;
  }
  .search-box{
    width: 95%;
    margin: 10px 0;
    mat-form-field{
      width: 100% !important;
    }
  }
  .add-task{
    width: 95%;
    button{
      width: 100% !important;
    }
  }
  .no-task{
    height: auto;
    .add-task{
      width: 100%;
    }
  }
}

